body{
	font-family: times new roman; 
	background-color: #e8e8e8
}
	
h1 {
	color: white;
	background-color: black;
	font-family: times new roman;
	font-size: 38;
	text-align: center;

}

p {
	Color: Black
	font-family: georgian
	font-size: 18;
	line-height: 1.5;
	text-indent: 50px;
	
}

h3 {
	Color: #f54c0f;
	
}

li {
	Color: black; 
	line-height: 1.5;
	
}

h2 {
	Color: #f54c0f;
	text-align: center; 
}

a:link{
	text-align: center;
}

a:visited{
	text-align: center;
}

a:hover{
	text-align: center;
}

a:active{
	text-align: center;
}

img {
display: block;
width: 60%;
margin-left: auto;
margin-right: auto;

}


div {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px; 
	border: 2px solid black; 
	
}